body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #b44c4c;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: relative;
}

header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#produits {
    padding: 20px;
    text-align: center;
}

.product {
    display: inline-block;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    font-size: 0.9em;
    color: #555;
}

.product span {
    font-size: 1.1em;
    color: #333;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#panier {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
}

footer {
    background-color: #b44c4c;
    color: white;
    text-align: center;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
